html{
    height: 100%;
    font-family: 'Montserrat';
    display: grid;
    align-items: center;
    justify-items: center;

    --bg: #fcfcfc;
    --bg-panel: #ebebeb;
    --color-headings: #0077ff;
    --color-text: #333333;
}
html[data-theme='dark']{
    --bg: #333;
    --bg-panel: #434343;
    --color-headings: #3694ff;
    --color-text: #b5b5b5;
}

body{
    background-color: var(--bg)
}

.container{
    background-color: var(--bg-panel);
    margin: 5em;
    padding: 5em;
    border-radius: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto;
    grid-template-areas: "title switch" "content content";
    h1{
        margin: 0;
        color: var(--color-headings);
    }
    p{
        color: var(--color-text);
        grid-area: content;
        font-size: 1.1em;
        line-height: 1.8em;
        margin-top: 2em;
    }
    // .toggle-container{
    //     transition-duration: 1000ms;
    // }
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    /* width: 200px;
height: 100px; */
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 28px;
    height: 8px;
    background: var(--color-text);
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+label {
    background: var(--color-headings);
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 130px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}